# Preserve the exact upstream license bytes, including their original whitespace.
models/WingHinge-LICENSE whitespace=cr-at-eol
packages/banc-runtime/third-party-licenses/emscripten.txt whitespace=-blank-at-eol,-blank-at-eof
